<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/userPage.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  </head>
  <body>
    <div class="main">
      <div class="logo">
        <img
          class="img"
          src="https://i.ibb.co/S39R4j6/image-2023-04-27-024903791-removebg-preview.png"
          alt="https://i.ibb.co/S39R4j6/image-2023-04-27-024903791-removebg-preview.png"
        />
      </div>
      <div class="info">
        <div class="left"><img
            class="img"
            src="{{titlePhoto}}"
            alt="{{titlePhoto}}"
          />
          <h3>{{userName}}</h3></div>
        <div class="infoCard">
          <div class="leftCard">

            <div class="email"><h2>Email:</h2><h3>{{email}}</h3></div>
            <h2>Games:</h2>

            <div class="games">

              <img
                class="img"
                src="{{LeagueOfLegends}}"
                alt="{{LeagueOfLegends}}"
              /><img class="img" src="{{Valorant}}" alt="{{Valorant}}" />
              <img class="img" src="{{TFT}}" alt="{{TFT}}" /></div>

          </div>

          <div class="rightCard">
            <div class="id">
              <h2>ID: </h2><h3>{{id}}</h3></div>
            <h2>Languages:</h2>

            <div class="lang">
              <img class="img" src="{{Arabic}}" alt="{{Arabic}}" />
              <img class="img" src="{{English}}" alt="{{English}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="description"><h3>{{description}}</h3></div>
      <div class="bigPhoto">
        <img class="img" src="{{bigPhoto}}" alt="{{bigPhoto}}" />

      </div>
    </div>
  </body>
  <script src="/javascripts/userPage.js"></script>
</html>