<dev class="mainBar">

<h1>Welcome to YAQOT Server</h1>
<dev class = "hello">
  <dev class="info">
  <h2>Hello {{name}}</h2>

            <h4>your ID is {{id}}</h4>

  </dev>

      <img src={{img}} alt=`img{{name}}`>


</dev>
</dev>
<h3 class="des">{{des}}</h3>
<img class="bigPhoto" src={{bigPhoto}} alt=`bigImg{{name}}`>


